[2017-08-25 07:42] alexellis opened #5 "Introducing"
<img width="800" alt="screen shot 2017-08-25 at 08 41 45" src="https://user-images.githubusercontent.com/6358735/29704343-542a36da-8971-11e7-871e-da30c8e86cae.png">
<img width="935" alt="screen shot 2017-08-25 at 08 41 33" src="https://user-images.githubusercontent.com/6358735/29704342-5425c8d4-8971-11e7-99ed-36567eb66c47.png">

[2017-09-06 10:28] alexellis opened #6 "Proposal: allow Derek to apply labels in response to comments"
[code]

[code]

[code]

[2017-09-06 20:38] alexellis commented on #6
Fixed in #7

[2017-09-06 20:38] #6 closed

[2017-09-10 12:07] johnmccabe opened #8 "Add support for assigning and unassigning issues/PRs"
## Expected Behaviour
Derek should be able to assign and unassign issues and PRs, with the target `me` as a shortcut for the maintainer who issued the request.
[code]

[2017-09-10 12:07] johnmccabe commented on #8
I've picked this up today

[2017-09-10 12:15] johnmccabe opened #9 "Add support for closing/reopening issues/PRs"
## Expected Behaviour
Derek should allow Maintainers to close and reopen issues and PRs.
[code]

[2017-09-10 12:15] alexellis commented on #8
Great idea. It'd be good to be about to use the word me.

Derek unassign me

Tests are always appreciated too if you have time

[2017-09-10 17:50] johnmccabe commented on #8
Derek add label: enhancement

[2017-09-10 18:01] johnmccabe opened #10 "App ID hardcoded in GetSignedJwtToken function"
## Expected Behaviour

Following the README should be sufficient to deploy and run your own Derek instance.

## Current Behaviour

The generated JWT tokens are invalid.

## Possible Solution

Replace the hardcoded App ID in `jwt_auth.go` with one sourced from the env.

## Context

Unable to get own Derek instance running, positive side tho is that I now know a lot more about Githubs App auth 😄

##

[2017-09-10 18:04] johnmccabe commented on #10
I've fixed this locally, will raise a PR shortly

[2017-09-11 10:35] johnmccabe commented on #10
Derek add label: bug

[2017-09-13 14:18] alexellis commented on #5
Derek add label: inception

[2017-09-13 14:19] alexellis commented on #5
Derek add label: inception

[2017-09-13 14:20] alexellis commented on #5
Derek add label: inception

[2017-09-13 14:21] alexellis commented on #5
Derek add label: inception

[2017-09-13 14:28] alexellis commented on #5
Derek add label: demo

[2017-09-13 14:29] alexellis commented on #5
Derek add label: duplicate

[2017-09-13 14:30] alexellis commented on #5
Derek add label: demo

[2017-09-13 14:31] alexellis commented on #5
Derek add label: demo

[2017-09-13 14:31] alexellis commented on #5
Derek add label: demo

[2017-09-13 14:34] alexellis commented on #5
Derek add label: demo

[2017-09-28 22:04] alexellis commented on #9
Derek add label: hacktoberfest

[2017-09-29 09:49] johnmccabe commented on #9
I'll pick this up

[2017-10-03 09:34] alexellis commented on #9
Thanks

[2017-10-08 09:29] #8 closed

[2017-10-08 09:29] alexellis commented on #5
Derek add label: help wanted

[2017-10-08 09:35] alexellis commented on #5
Derek add label: help wanted

[2017-10-08 11:03] johnmccabe commented on #10
@alexellis this can be closed

[2017-10-08 11:03] johnmccabe commented on #9
FYI - refer to the comments in this PR regarding RBAC

https://github.com/alexellis/derek/pull/12

[2017-10-12 21:58] jhernandezb opened #13 "Support for other environments"
Would you be open to add examples for deploying it to AWS Lambda with something like [apex/up](https://github.com/apex/up) or [zeit/now ](https://zeit.co/now). I probably could help with those.

[2017-10-15 02:43] elliott-beach commented on #13
This is another use case for being able to deploy OpenFaas on AWS, then this wouldn't be an issue.

[2017-10-24 20:04] rgee0 opened #15 "Derek adds a label when labelling comment is deleted"
Course of action to reproduce:

`Derek add label: fred` <-- label added
`Derek remove label: fred` <-- label removed
Delete comment 1 <-- label added again

Potential fix would be to inspect the POSTed JSON to see if `"action": "deleted"` is set and cause Derek to refuse to act within `AddLabel` and `RemoveLabel` in this instance.  Within the code this would be `req.Action`

[2017-10-24 20:19] alexellis commented on #15
Happy for you to work on this if you have time.

[2017-10-29 15:32] #9 closed

[2017-11-04 20:42] rgee0 opened #17 "Proposal: Close PRs that are raised master to master"
Upon submission of a PR Derek should check the originating branch name, and if he finds `master` the PR closed with a message advising the user that they should re-submit from a non-master branch.

[2017-11-04 20:43] rgee0 commented on #10
Derek close

[2017-11-04 20:48] alexellis commented on #10
Derek add label: notdeployedommypersonalaccount

[2017-11-04 20:49] alexellis commented on #17
Thank you for logging this

[2017-11-04 20:50] #10 closed

[2017-11-04 20:51] rgee0 commented on #10
I'm not in maintainers even if he was

[2017-11-04 20:51] alexellis commented on #15
Can we add a test for this?

[2017-11-04 20:58] alexellis commented on #10
Do a PR to add yourself

On 4 Nov 2017 20:51, "Richard Gee" <notifications@github.com> wrote:

[2017-11-05 12:06] rgee0 opened #18 "Proposal: Announce GH Releases"
It would be useful to be able to enable Derek to automatically announce releases to an organisation's twitter account, for instance.

[2017-11-05 13:23] alexellis commented on #18
Let's do some design on this before proceeding.

[2017-11-09 21:09] alexellis opened #19 "Proposal: Track rate limiting from GitHub API"
## Context

When authenticated we have 50 requests to the API / hour. When we are authenticated we have 5k per hour +/-.

## Idea: track rate-limiting

It's unlikely that we will burn up 5k in an hour on the OpenFaaS org, but larger projects may hit this and this should be observable.

What do we do?
How do we track this?

[2017-11-09 22:11] rgee0 commented on #19
A couple of initial notes while thinking.

`GET /rate_limit` exposes the values.

The limit appears to be distinct time-slices rather than a sliding window.

[2017-11-09 22:15] alexellis commented on #19
Hmm is that a proposed API or a GH thing?

[2017-11-09 22:24] alexellis commented on #19
Ok this.. https://developer.github.com/v3/rate_limit/

[2017-11-09 22:24] alexellis commented on #19
We could definitely track it in alertmanager and send through to a webhook.

[2017-11-13 22:01] alexellis opened #21 ".DEREK.yml feature flags + maintainers list"
The .DEREK.yml file should take over the place of the MAINTAINERS file.

This will support roles / actions and mapping users to roles, but initially will look like this:

[code]

See 2.0 extensions - https://github.com/alexellis/derek/issues/22

[2017-11-13 22:03] alexellis opened #22 ".DEREK.yml 2.0 - YAML roles"
Version 2.0 of .DEREK.yml would be:

[code]

[2017-11-15 08:29] alexellis commented on #21
@rgee0 I think this is what we need to do next - the dco toggle will be important for repos where they already have a bot doing this. cc/ @thaJeztah

[2017-11-17 22:10] rgee0 opened #24 "Proposal: Enable changing of issue/PR title"
Add `Derek set title: This is the new title` functionality so that maintainers can painlessly manage imprecise or ambiguous issue titles.

[2017-11-18 17:02] rgee0 commented on #21
Derek assign: rgee0

[2017-11-18 17:04] alexellis commented on #21
I'm not sure why but you're not in the list for me to assign to.

[2017-11-18 17:09] rgee0 commented on #21
From https://help.github.com/articles/assigning-issues-and-pull-requests-to-other-github-users/

[2017-11-24 16:29] rgee0 commented on #21
Derek close

[2017-11-24 16:29] rgee0 commented on #21
I keep doing that!

[2017-11-24 16:41] alexellis commented on #21
Doing what?

[2017-11-24 16:43] rgee0 commented on #21
Typing `Derek do something` on this repo.

[2017-11-26 09:30] alexellis commented on #24
Derek add label: proposal

[2017-11-26 10:22] rgee0 commented on #21
Derek close

[2017-11-26 12:35] rgee0 opened #28 "Proposal: Derek should lock / unlock threads"
Threads in PRs and Issues should be lockable by issuing `Derek lock` and unlock-able by issuing `Derek unlock`

[2017-11-29 23:19] alexellis opened #29 "Todo: Migrate namespaces / packages to openfaas/derek"
## Todo: Migrate namespaces / packages

This would be change to go from alexellis/derek to openfaas/derek.

[2017-11-30 08:17] rgee0 commented on #28
Derek assign: rgee0

[2017-11-30 08:19] rgee0 commented on #28
Derek add label: proposal

[2017-12-28 19:27] #15 closed

[2017-12-28 19:27] #21 closed

[2017-12-28 19:27] #24 closed

[2017-12-28 19:27] #28 closed

[2017-12-28 23:02] alexellis commented on #17
Still a fan of this feature

[2017-12-28 23:02] #29 closed

[2017-12-28 23:03] alexellis commented on #29
I moved Derek back. The change was more involved than moving the repo

[2018-01-22 11:02] itscaro opened #32 "Posibility to pass multiple values to an action"
It would be great to be able to send multiple values in the same action, i.e:

`Derek add label: UX, enhancement, proposal` (`,` as separator, more natural)
or
`Derek add label: UX || enhancement || proposal` (`||` as separator)

I can work on this if the proposal is accepted

[2018-01-22 11:03] itscaro commented on #32
Derek add label: proposal

[2018-01-22 21:24] rgee0 commented on #32
Derek add label: proposal

[2018-01-24 18:55] rgee0 opened #33 "Proposal: Add an autolabels section to DEREK.yml to automatically label issues"
Add an `autolabels` section to `DEREK.yml` so that any issues raised containing the words within this section are automatically labelled:

e.g.
[code]

[2018-01-25 07:33] rgee0 commented on #33
Derek add label: proposal

[2018-02-01 08:16] alexellis opened #35 "Research item: use GitHub status API for DCO checking"
GitHub has a status/check API that can be used to register our DCO check.

Here's an example:

<img width="930" alt="screen shot 2018-02-01 at 08 14 53" src="https://user-images.githubusercontent.com/6358735/35668109-0be265b6-0728-11e8-8a95-b5296c272ed0.png">

Checks can help make sure users don't merge PRs when the DCO isn't present.

This should be considered a PoC/research item. If it works out

[2018-02-07 09:31] alexellis commented on #32
I can see this could reduce verbosity if you wanted to take several actions at once, but I don't want Derek to become a DSL or overly-complex. Perhaps the answer is to allow new-line separated commands within a single comment. This does complicate things though as we "panic" / exit in multiple places.

Let's prioritise the most important work first.

[2018-02-07 09:32] alexellis commented on #32
Derek add label: priority/low

[2018-02-07 09:32] alexellis commented on #35
Derek add label: priority/high

[2018-02-07 09:32] alexellis commented on #19
Derek add label: priority/high

[2018-02-07 09:32] alexellis commented on #18
Derek add label: priority/low

[2018-02-07 09:32] alexellis commented on #13
Derek add label: priority/low

[2018-02-07 09:33] alexellis commented on #22
Derek add label: priority/low

[2018-02-07 09:33] alexellis commented on #17
Derek add label: priority/low

[2018-02-07 09:34] alexellis commented on #33
This would be useful for us - will it be generic enough to support the requirements from Puppet?

[2018-02-07 16:22] stealthybox commented on #35
Multiple `RepoStatus` structs can be posted to individual commit sha's.
Statuses from the most recent commit will gate the PR.

Use `go-github`: https://godoc.org/github.com/google/go-github/github#RepositoriesService.CreateStatus

[2018-02-07 18:48] rgee0 commented on #33
The Puppet requirement may require a mapping:

[code]

This would provide a greater level of flexibility.

[2018-02-07 21:08] alexellis commented on #33
Valid YAML may be:

[code]

Still.. let's work to an MVP before embellishing - I'll post this into the #derek channel

[2018-02-07 21:32] davejrt commented on #33
As a first step this looks great. We've got some other unique requirements at puppet that we may end up needing later down the track, so notifying someone on a PR if their unit test didn't pass in travis...or they've not included a puppet manifest, the puppet version, OS version in the text in their issue. Based on that we might want Derek to comment and say, you've not included this, in much the

[2018-02-21 12:03] alexellis commented on #35
It sounds like that would break the way I want to use the statuses API?

[2018-02-23 09:36] alexellis opened #36 "Proposal: send messages to Slack channel"
In order to monitor and observe usage of Derek we should offer the ability to send messages to a Slack channel.

All usage of Derek via comments / PRs is public so I do not see any concerns with this going to one place.

It will give an overview at a glance whether there is any recent activity, by which installations and which users.

Example of status messages sent to Slack:

* a no-dco label is

[2018-02-23 09:43] alexellis commented on #33
Ok.. do you have some examples of the labels you'd like @davejrt ?

[2018-02-25 16:04] jhillyerd opened #38 "Consider supporting .github directory for DEREK.yaml"
GitHub supports a `.github` directory to reduce the amount of clutter in a projects root directory for [issue and contribution docs](https://github.com/blog/2111-issue-and-pull-request-templates).  It would be nice if DEREK.yml could also be placed there.

A potential downside is that GitHub owns the `.github` namespace.  Alternately a directory named `.automation` would be nice for this type of c

[2018-02-25 16:13] alexellis commented on #35
Derek close

[2018-02-25 16:13] #35 closed

[2018-02-25 17:32] johnharris85 opened #39 "Refactoring for additional feature handling"
Awesome project! Was thinking about taking a crack at #17 and wandered how you wanted to handle more features being added in the code? Checks like [this one](https://github.com/alexellis/derek/blob/master/main.go#L71) assume only one feature for handling PRs, and this might need to be refactored if more are being added?

Also the code in [handlePullRequest](https://github.com/alexellis/derek/blob/

[2018-02-25 18:49] alexellis commented on #17
The idea is here that:

PRs should only be raised to target master - therefore if someone raises a PR that doesn't - apply a label.

I.e.

I raise a PR to a branch named 0.7.0 - that should add a label, I don't know what label but am open to suggestions: `attention/target-branch`.

2nd scenario:

Someone raises a PR from the master branch of their repo. This can be destructive to merge - especiall

[2018-02-25 18:50] alexellis commented on #39
Hi @johnharris85,

Good to hear from you again - when you have time head over the jaas project again and checkout the latest features we've been adding.

Full disclosure - I'm unlikely to take refactoring changes before they are necessary for a feature / approved request.

The highest priority tickets are marked with a label: https://github.com/alexellis/derek/labels/priority%2Fhigh

#17 is marked

[2018-02-25 20:27] johnharris85 commented on #17
So adding a label rather than closing the PR? Would this be a separate 'feature' that could be enabled / disabled in the config yaml? Would these 2 scenarios (target and origin) be separate features? Or part of a single 'branch check' feature?

[2018-02-25 20:31] johnharris85 commented on #39
Thanks @alexellis! Ye wanted to ask here about refactoring before doing anything for that very reason :) Right now it looks like the codebase assumes only one 'feature' for PRs, so that function may turn into a long list of `if` statements if we add others (like #17). If those aren't high-priority / accepting PRs against right now then the refactoring likely isn't necessary yet.

What's your view

[2018-02-25 21:16] alexellis commented on #39
Simplest approach first, duplicate some statements when necessary, then review and if it makes sense after that introduce new abstractions.

[2018-02-25 22:54] davejrt commented on #33
Bug
Enhancement
Question

Those are probably the three we use most commonly.

[2018-02-26 16:20] jhillyerd commented on #38
Turns out at least two other bots use `.github` for their config:

- probot: https://probot.github.io/apps/settings/
- tailor: https://github.com/coreos/tailor/blob/master/README.md

[2018-02-26 18:37] rgee0 commented on #36
On a similar theme... https://github.com/blog/2506-slack-and-github-your-ultimate-productivity-pair

[2018-02-27 20:52] alexellis commented on #39
Since this is not an issue I'm going to close it but you can keep commenting.

[2018-02-27 20:52] #39 closed

[2018-03-03 18:01] alexellis opened #40 "Backlog: check if PR template was deleted"
Scenario: impatient contributor deletes whole PR template message and decides it doesn't apply to them.

Result: PR is decorated with a comment telling user to fill out PR template.

## Implementation ideas:

* v1.0 PR body cannot be empty
* v2.0 100% of repo/.github/PULL_REQUEST_TEMPLATE must be present in body of PR

@rgee0 @dirkhh  thoughts?

![bad_pr_edi](https://user-images.githubusercontent.

[2018-03-03 19:08] rgee0 commented on #40
I’d be tempted to also have a switch to enable totally empty PRs to be automatically closed. Default would be just apply a message.

[2018-03-03 19:30] johnharris85 commented on #40
Ye I like the idea (and feature progression). Are you thinking same thing for issues as well?

Also what about the ability to check that a PR references an existing issue / proposal? That ties into the workflow for OpenFaaS that all PRs must have issues / proposals.

[2018-03-04 13:32] alexellis commented on #33
Same here.. these are quite subjective labels though. One thing I wanted to start for OpenFaaS was labelling for different areas.

[code]

etc

[2018-03-04 19:49] alexellis commented on #40
@johnharris85 the same thing could apply to issues but for an MVP I'd suggest going after PRs first. I guess this would be valuable to any project that uses a template for PRs.

The issue per PR requirement is a thing, but I think it may be hard to automate so could be revisited later.

If anyone wants to work on a solution as per v1.0 or v2.0 please comment

[2018-03-04 20:22] johnmccabe commented on #40
I was starting to have a look at this, if nobody else is already working on it.

[2018-03-17 17:42] alexellis opened #41 "Refactoring: Read secrets from OpenFaaS secrets"
Right now secrets need to be built into a local/private image or bind-mounted. Derek should read secrets from the OpenFaaS `/run/secrets/` folder which happens to be the same on Kubernetes and Swarm alike.

Secrets:

* GitHub symmetrical secret used for checking the HMAC
* Cert / pem file used for authenticating to the GitHub API via OAuth

[2018-03-17 17:56] alexellis opened #42 "Encourage clean commit messages"
I think Derek can help us with commit messages - as a sort of "linter"

Some may argue a pre-commit hook could do this, but it would have to live in every git repo - Derek can automate some of this.

https://chris.beams.io/posts/git-commit/

* Always start a commit subject (first line) with a capital letter
* Never exceed 50 chars for the first line of a commit message
* When a commit body is give

[2018-03-17 17:59] alexellis commented on #39
John would you like to work on this? https://github.com/alexellis/derek/issues/42 also I can't see you on our Slack community.. would you join to coordinate work? email alex@openfaas.com

[2018-03-18 11:48] alexellis commented on #42
I've started looking at this but I would like input

[2018-03-18 12:05] rgee0 commented on #42
I think you've covered it well already.

Feels like the lengths should be configurable as they are rules of thumb.  If people have downstream systems for reviewing commits that use different limit then should should be able to tailor.

Should the subject line check assess for capital letter and full stop?

Suggest the feature be called `commit_check` or `message_check` to align with the `dco_check

[2018-03-23 17:49] alexellis commented on #41
Since we run this only inside an OpenFaaS function container I think it's OK to read from a set path. No need to make it configureable.

[2018-03-23 17:50] alexellis commented on #41
@rgee0 are you taking this?

[2018-03-23 18:00] alexellis commented on #33
We ask for the information on the system in the issue template so the auto-labels here would be really useful from the start. (via @rgee0 )

[2018-03-23 18:03] alexellis commented on #32
We could look at doing this with a separator like a comma.

   D3r3k add label: proposal, priority/low, area/ux

Just trim spaces.

[2018-03-23 18:04] alexellis commented on #18
We think this idea came from Docker.

When there's a release of a project - it could be announced by Derek via a Tweet function or similar.

[2018-03-23 18:05] alexellis commented on #17
This would be worth doing - even at a simplistic level - no PRs from master for instance.

[2018-03-23 18:06] alexellis commented on #13
Derek close: marking as inactive - we've not seen not much interest or call for this

[2018-03-23 18:06] #13 closed

[2018-03-23 18:06] #5 closed

[2018-03-23 18:09] alexellis commented on #19
I wonder if we should write a small function as a prometheus exporter which can produce this information for all the installations we have registered. It may involve us collecting the installation messages when the GitHub app is registered.

[2018-03-24 18:41] rgee0 commented on #41
I'm looking at this

[2018-03-24 18:55] rgee0 opened #45 "[Proposal] Add feature to auto label issues when an associated PR is raised"
Add a new feature so that when a contributor opens a PR and refences an issue, or multiple issues a label is automatically applied to the issue(s).

This could help contributors filter out at the top level those issues which are currently in progress / being addressed.

[2018-03-25 16:45] rgee0 commented on #42
Derek add label: PR

[2018-03-25 16:45] rgee0 commented on #41
Derek add label: PR

[2018-03-25 16:46] rgee0 commented on #32
Derek add label: PR

[2018-03-30 07:24] iyovcheva commented on #17
Derek assign: iyovcheva

[2018-03-30 08:28] iyovcheva commented on #17
Taking this

[2018-04-02 09:52] #41 closed

[2018-04-04 12:25] ivanayov opened #48 "Add support for `assign reviewer`"
At the moment Derek cannot assign reviewers to a pull request.

Support comments like:
[code]

Good option is to make it work with a list of users:
[code]

[2018-04-05 13:55] alexellis commented on #17
I met with Ivana and Dimitar. We think the action should be:

* Close the PR (because you can't recover without creating a new PR from a different branch)
* Give a comment - should say a git command to help them such as `git checkout -b my_feature` and raise a PR from there
* Ivana liked the idea of the label - let's use the prefix of "review/" to match the listing in #43

[2018-04-16 15:43] dirkhh commented on #40
BTW, I missed this earlier... I think v2.0 is a bit too aggressive. It's fairly common for PR templates to have sections that don't really make sense for all PRs... So I'd say that "at least half of the headings need to remain" or something slightly more flexible than that. Extra credits for it being configurable :-)

[2018-04-19 22:21] OmgImAlexis opened #50 "Delete command after execution"
Any chance derek could delete the command comments in the issue/PR after the command is executed?

[2018-04-20 05:43] OmgImAlexis opened #51 "Add more docs for "Github app" section of install"
I'm a little stuck on the "Install Derek as a GitHub app" section as I can't find it on the marketplace as most "Github apps" are.

So then I'm guessing I have to create my own Github app? If so could you help with what these fields will needs to be filled with.

I already have a publicly facing openfaas gateway that I can use.

(Also might be an idea to link to the Github app registration page.)

[2018-04-20 13:31] OmgImAlexis commented on #51
So I finally got it working.

[code]

Seems the customer list is hardcoded. Should I just disable it via the env?
https://github.com/alexellis/derek/blob/d1dc963fea622554ae940f0892427cc6cde54dea/auth/customers.go#L21

[2018-04-20 18:03] alexellis commented on #51
@OmgImAlexis are you trying to host your own Derek or use our shared SaaS?

[2018-04-20 18:08] alexellis commented on #51
The documentation in this site says to contact me for access to the shared instance... I'll take this issue as you doing that. Look at the Slack channel #derek - it has the public URL where you can install the hosted GitHub app.

[2018-04-20 18:19] alexellis opened #52 "Allow custom URL via env-var for customer validation"
## Expected Behaviour

Anyone can host their own Derek and also validate their own customer list

## Current Behaviour

The code will validate against [our list](https://github.com/alexellis/derek/blob/d1dc963fea622554ae940f0892427cc6cde54dea/auth/customers.go#L21).

## Possible Solution

There is a workaround though - just disable customer validation via the existing env-var flag.

I'd suggest we

[2018-04-20 18:20] #50 closed, assigned to nobody

[2018-04-20 21:28] rgee0 commented on #52
I’ll pick this up.

https://github.com/alexellis/derek/blob/32ab31824e44ce93b8e3eb9ff014deaac5c4ef4b/auth/customers.go#L21

I take it we want to take env var if set or default to the current value?

[2018-04-20 21:36] alexellis commented on #52
I think that would be a good approach

[2018-04-21 08:36] rgee0 commented on #48
How would this feature behave when the requested reviewer isn't part of the org?

[2018-04-23 20:17] alexellis commented on #51
While this sounds useful I'm not sure it's actionable. If there is a specific thing you'd like to do perhaps we can target that instead?

What is the reason for self-hosting over using the free SaaS version?

[2018-04-24 04:04] OmgImAlexis commented on #51
Mainly which feature was being used and by who I was expecting to see more of a HTTP type log instead of what was presented. The reason I wanted this is so I could parse the logs for my grafana install.

I like to self-host all of my infrastructure.

[2018-05-07 16:28] alexellis opened #58 "Support redirection for organizations with multiple project repos"
## Expected Behaviour

A setting should be made available to .DEREK.yml which means Derek will redirect and pull his config from another location. We should probably enforce some basic validations here and I'm open to suggestions.

## Current Behaviour

We maintain separate config files per repo within the organization of openfaas / openfaas-incubator

## Possible Solution

Add a tag to the YAML w

[2018-05-07 16:30] alexellis commented on #58
cc @iyovcheva

[2018-05-16 19:38] alexellis commented on #51
Derek close: resolved

[2018-05-16 19:39] #51 closed

[2018-05-17 10:03] #52 closed

[2018-05-26 19:22] LucasRoesler opened #59 "Update secrets path"
In a conversation with @alexellis  we saw an issue in Derek using the latest master version of openfaas.

[code]

This is due to openfaas/faas#692

## Possible Solution

Update the path to search `/var/openfaas/secrets`

[2018-06-23 15:01] alexellis opened #62 "Suggestion: SDK for Derek"
Would it be useful to provide Derek as an SDK?

The GitHub auth that we've written has already been useful for the GitHub App in OpenFaaS Cloud and could be useful as a separate package.

Due to [forking of Derek](https://github.com/miekg/dreck) over one user not wanting to follow DCO process, would it be advantageous for us to release Derek as an SDK so the functionality can be invoked via other

[2018-06-23 15:18] alexellis opened #63 "Suggestion: Allow any prefix such as "/" or another name as Derek trigger"
A PR was raised to enable users to invoke Derek via another prefix such as `"/"` in #56, but the code was not signed-off and the patch could not be merged.

This is a suggestion for third-party usage of Derek outside of the OpenFaaS project. I think this is a good beginner issue.

[2018-06-23 15:19] alexellis commented on #59
Thanks @rgee0 for working on this 👍

[2018-06-23 15:40] alexellis commented on #59
Marking as high priority due to need to enable testing for developers using newer OpenFaaS versions.

[2018-06-23 15:41] alexellis commented on #48
@rgee0 it wouldn't work, just like when you try to do this through the UI and the reviewer is not in the org.

[2018-06-23 20:19] rgee0 commented on #48
Thanks @alexellis.  The thinking was more directed towards the feature - how would the user receive feedback to that effect, i.e. to avoid Derek getting the blame / issues being raised?

[2018-06-24 14:07] alexellis opened #65 "Tag PRs from new contributors as derek/first-time"
This is a suggestion to help with first impressions and helping new contributors to a project/repo.

To help users identify and give help to new contributors to a repository Derek could add a label such as `derek/first-time` or `derek/new-contributor`

This metadata may be represented in the metadata already of a GitHub push/PR - https://developer.github.com/v3/activity/events/types/#pushevent

Al

[2018-06-24 14:07] alexellis commented on #65
What do you think @rgee0 @neolit123 ?

[2018-06-24 14:08] alexellis commented on #65
Once a PR has been merged the status moves to something like "collaborator" and this wouldn't be applied again after that point.

[2018-06-25 06:24] alexellis opened #66 "Switch to HMAC package upstream"
We can now remove the hmac.go code and vendor it:

https://github.com/alexellis/hmac

Good beginner issue

[2018-06-25 12:19] alexellis commented on #66
Derek add label: enhancement

[2018-06-25 12:22] alexellis commented on #66
Derek close: merged

[2018-06-25 12:22] #66 closed

[2018-06-25 14:22] neolit123 commented on #63
me and @mrtind are collaborating on this change.

[2018-06-26 05:51] alexellis commented on #63
Great :+1: I would expect this to be configured via environmental variable rather than DEREK.yml. That means that as an end user you would opt into this change when deploying.

Question - should Derek respond to the `/` alias by default? Cc @rgee0

[2018-06-26 06:32] rgee0 commented on #63
My initial thought was yes to the `/` question, but I started to think about orgs that employ multiple bots and how this could potentially lead to conflicts.  I think if we were to make `/` an alias then it also needs to be managed by an environmental variable, e.g. `slash-alias=true/false`

[2018-06-26 11:18] neolit123 commented on #63
if there are multiple bots on the same systems, ENV variables are a bad idea.
a local bot config per instance is the way to go (not the repo config).

BTW, @alexellis since this wasn't outlined in the first message in this issue me and @mrtind just went and added the option in the DEREK.yaml yesterday.

i see a discussion starting in here, so i'm going to hold on the collaboration with @mrtind, be

[2018-06-26 11:21] alexellis commented on #63
So it's always good to ask when information is lacking or to check assumptions - that's part of the reason we are using proposal issues. I was expecting a similar implementation to the one submitted in the referenced PR which would use an env-var per deployment of the Derek container. That means all users of the hosted service use the name that references back to the project and brand of Derek.

P

[2018-06-26 14:51] mrtind commented on #65
I can try to pair with @ivanayov on this one.

[2018-06-26 14:54] alexellis commented on #65
Sure, please look at the GitHub APIs together to see if this data is present in the push or PR payloads.

[2018-06-26 16:10] rgee0 commented on #63
Also I was thinking more along the lines of multiple bots per org - like moby/moby who employ Poule and Derek. Others may do similar and their other bot trigger may be `/` hence it would need to be configurable.  I'd need to understand more about why env-vars are a bad idea.

[2018-06-28 10:28] mrtind commented on #65
@alexellis  I looked through the webhooks and the field "before:" is filled with 000000000000 if you push for the first time.I tried it with clean repository two times to be sure.

[2018-06-28 11:07] alexellis commented on #65
That is the first commit right? What about whether the PR submitter is a first timer on the repo.

[2018-06-28 11:18] mrtind commented on #65
This happens if you push for the first time in the repo.You can have many commits but if its your first push the before value will be 0.

[2018-06-28 12:15] mrtind commented on #65
No mistake its 0 for a branch.I will continue to search.

[2018-06-29 06:45] rgee0 commented on #65
In the create event have a look at the `"author_association"` field. @mrtind

[2018-06-29 06:53] alexellis commented on #65
Where did you see that @rgee0 sounds useful

[2018-06-29 07:14] rgee0 commented on #65
I looked into how github generate the labels on the comments and apparently that field feeds it.  its available in the `pull_request` event WH in link you provided above:

https://developer.github.com/v3/activity/events/types/#pushevent

[2018-06-29 10:48] mrtind commented on #65
It seems like the author_association is OWNER or NONE in the webhooks tested by me and Ivana it only shows those two even when she had her first pull request towards my repo.The problem with the push webhooks is that it shows information for the current branch you are pushing in so for that branch you are new contributor and its not useful.If you have something in mind @rgee0 ? Maybe im missing so

[2018-06-29 12:17] rgee0 commented on #65
Did you try merging a PR and inspecting the value? I’d expect to see `none` or `owner` or `contributor`. Someone showing `none` on creation of a `pull_request`would be a first time contributor.

I wouldn’t get too hung up on the `push` event I think the `pull_request` event WH gives us what we’re looking for.

[2018-06-29 13:36] mrtind commented on #65
Thank you @rgee0 for the help! The status changed to CONTRIBUTOR i just missed that pull request event triggers on open and close and thought that Ivana had 2 pull requests on my repo.

[2018-06-29 14:11] alexellis commented on #65
My suggestion is to add the label at the start then leave it there. I don't think the subsequent events need matter and GitHub will advise in the header or context if it was opened or closed.

[2018-07-03 14:23] alexellis opened #70 "Research task: automate creation of GitHub App"
Can we make development and testing easier by automating the creation/config of the Github App via the GitHub API?

Ideal flow:

* User creates personal access_token
* User runs `derek --provision-app --name="Derek PR 68"`
* GitHub App created and then access token revoked?

[2018-07-03 14:30] alexellis commented on #70
If we can do this with `curl` I think that's OK too, updating the CLI is of lower priority.

[2018-07-03 16:19] rgee0 commented on #59
Derek close: Addressed in #69

[2018-07-03 16:19] #59 closed

[2018-07-05 11:42] alexellis opened #72 "Issue with HMAC secret when using a file"
Issue identified by @mrtind

## Expected Behaviour

A secret for derek-secret-key (for HMAC) should be read from a file when needed i.e. `docker secret create derek-secret-key ./derek-secret-key`

## Current Behaviour

When creating the HMAC secret via `docker secret create derek-secret-key ./derek-secret-key` we get an extra new-line in the data we read and that makes the validation of HMAC fail

[2018-07-06 16:15] rgee0 commented on #65
Derek close

[2018-07-06 16:15] #65 closed

[2018-07-06 16:59] dirkhh opened #74 "Suggestion: support manipulation of milestones"
Derek already supports manipulation of Labels. The GitHub API for Milestones is very similar. Milestones are used to group issues that belong together as a feature or a deliverable. See here for the distinctions: https://guides.github.com/features/issues/

## Expected Behaviour

`Derek set milestone: 4.8` should add the named milestone to the current issue
`Derek remove milestone: 4.8` should acco

[2018-07-06 18:42] neolit123 commented on #74
@mrtind please, have a look and share any comments or questions that you may have :+1:

[2018-07-08 15:51] rgee0 commented on #72
Derek close: addressed in #73

[2018-07-08 15:51] #72 closed

[2018-07-09 09:29] alexellis commented on #74
Hi @mrtind Thanks for looking into this.

What struct/object does "CreateMilestone" live on?

I would think we are not creating milestones here, but adding them to existing issues or PRs. This may need you to call something like "update issue" rather than AddMilestoneToIssue().

[2018-07-09 09:32] mrtind commented on #74
It lives on IssuesService the same for AddLabelsToIssue().

[2018-07-09 12:47] neolit123 commented on #74
@mrtind

apparently milestones are slightly different.

first you have to enumerate them:
https://github.com/google/go-github/blob/master/github/issues_milestones.go
using `ListMilestones`, which will return a list of `Milestone` objects. important elements are `Title` and `Number`.

so if the user types:
`Derek set milestone: 4.8`
we need to use `ListMilestones` to find the `Number` of that miles

[2018-07-09 12:52] mrtind commented on #74
Thanks @neolit123 for pointing this out, apparently I was heading in the wrong direction...

[2018-07-09 14:42] alexellis commented on #74
Great analysis @neolit123 that is really helpful and detailed.

Martin, I would suggest trying this out in an isolated example/repo to see if it works - or hard-coding it into Derek and testing it on your DigitalOcean instance so that you can get some confidence before proceeding.

Alex

[2018-07-09 16:05] mrtind commented on #74
Yeah that I managed to set label in own repo with derek. Now i must find a way to remove it and create tests.

[2018-07-09 16:44] alexellis commented on #74
Does the example from Lubomir help of setting the value to 0/nil?

[2018-07-10 08:21] mrtind commented on #74
When i manually remove milestone i see the webhook "milestone":null, ... but when i set milestone *int to nil it does not solve the issue. I will try again obviously the milestone field must be null i must find a way to set it to null.

[2018-07-10 12:44] neolit123 commented on #74
@mrtind

i predicted, `nil` or `0` would not work. see:
https://github.com/google/go-github/issues/236

we have to do a workaround. ^ there is a proposed solution in there to use a `PATCH` request directly.
https://developer.github.com/v3/?#http-verbs

`A PATCH request may accept one or more of the attributes to update the resource`

the function calls in the workaround are here:
https://github.co

[2018-07-10 12:54] alexellis commented on #74
I believe that one of the examples suggested using a custom struct, would that work?

[2018-07-10 13:04] neolit123 commented on #74
do you mean a custom struct instead of the anonymous struct in the workaround?

[2018-07-10 13:10] mrtind commented on #74
@alexellis  @neolit123  I managed to remove the label but the patch of code that is workaround looks ugly. Should i make a function instead of that block of code ?

[2018-07-10 13:12] neolit123 commented on #74
hard to say without seeing your code. better wait before it's made into a PR.

[2018-07-10 22:53] neolit123 commented on #74
@mrtind
i was about to comment further here, but i see that you've already submitted a PR.
nice! progressing fast! :)

[2018-07-13 13:39] alexellis opened #76 "Travis should push Docker images when we cut a new release"
Any time we cut a new release of Derek we should be publishing a new Docker image to the Hub.

See openfaas/faas or openfaas/faas-netes for an example in .travis.yml and any other Makefiles.

[2018-07-13 13:40] alexellis commented on #76
@mrtind please could you work on this with Ivana?

Current tags are pushed manually at https://hub.docker.com/r/alexellis/derek/tags/

Alex

[2018-07-13 13:42] alexellis opened #77 "Move Derek to latest Golang version"
## Task:

1. Try moving the Derek Dockerfile to the latest Go version and build.
2. Fix any issues
3. Send PR

[2018-07-13 13:42] alexellis commented on #77
@mrtind here's a small one that would be great while you're on a roll.

[2018-07-13 13:59] alexellis commented on #77
Derek set milestone: 0.6.0

[2018-07-13 13:59] alexellis commented on #76
Derek set milestone: 0.6.0

[2018-07-13 14:00] alexellis commented on #74
Hi all, I'd like to let you know that the PR raised by @mrtind has been merged and released, thanks to everyone who helped on this feature.

Derek is now live and I've started setting up some milestones for Derek features & tweaks. Great job Martin!

Alex

[2018-07-13 14:01] alexellis commented on #74
Derek close: released 🎉

[2018-07-13 14:01] #74 closed

[2018-07-13 14:01] alexellis commented on #70
@rgee0 I can't assign issues on a personal repo, but would you be willing to take this on with your automation experience it might make sense?

[2018-07-13 14:03] alexellis commented on #40
Bump on this issue and +1 to Dirk's comments I think that makes sense.. Some proportion of headings should be present. Certainly it will pick up the annoying fly-by PRs like:

Alex

[2018-07-13 14:04] alexellis commented on #40
@johnharris85 would you like to take a look at this one? I also have a refactoring task that needs doing to make Derek more like an SDK / easier to run in other platforms/apps. #62 (I don't have a good way to contact you so a comment here is the best at the moment, if you'd like to join OpenFaaS Slack we have a #derek channel there)

[2018-07-13 14:05] alexellis commented on #62
I would image this work being done in small increments with each one being released and deployed starting with a configuration object where we load or parse all environmental variables and secrets in one single place then pass that down the stack to any code that needs it.

[2018-07-13 16:10] dirkhh commented on #74
Thanks @mrtind  - great work!

[2018-07-13 16:30] dirkhh opened #78 "Suggestion: document the supported features"
OK, this is possibly my own fault for missing the forrest for the trees, but I can't seem to find documentation of the config file syntax and especially which features are actually supported. There are a couple of examples, but... is there documentation somewhere that I just didn't see?

## Expected Behaviour

An _easy to find_ section in the documentation that tells me more about the syntax of th

[2018-07-14 08:16] alexellis commented on #78
For now the README.md is the documentation, but perhaps it could be improved or re-written. Maybe it should be less verbose and we add a USER GUIDE.md file?

A docs site is a nice idea, but rather arduous to do properly - generally to do it right we'd want a domain name, clear landing page (and a designer to make that) and then a docs site generated by mkdocs for which we'd have to choose a theme

[2018-07-14 15:41] rgee0 commented on #78
Currently the features are documented in [GET.md](https://github.com/alexellis/derek/blob/master/GET.md#configure-github-repo`).  The features aren't as granular as you may be expecting. Essentially there are two - `dco_check` & `comments`.  `comments` covers everything you can do from a comment on an issue and PR conversation. #22 shows where we were aiming to get to.

Can you ask @sfuchs79 to tr

[2018-07-14 16:51] #78 closed

[2018-07-14 17:12] dirkhh commented on #78
Which would be nice to have explicitly documented...

He did. Look towards the end of the comment thread. And then I entered the exact same command and that worked.

[2018-07-14 17:22] dirkhh commented on #78
This is perfect. Thank you so much for adding this

[2018-07-14 18:20] alexellis commented on #78
I think we have that covered now.

I saw sfuchs79 try the command before you did, but I need sfuchs79 to do it again because I can't find his message in the logs. Ideally with some other label or removing the label. Hoping that it either works as expected or I get a log item this time.

Alex

[2018-07-14 18:38] dirkhh commented on #78
He just did

[2018-07-16 07:30] alexellis commented on #77
Look at the tags of Docker images on the Hub for this variant of Go which is being used.

[2018-07-16 07:33] mrtind commented on #77
https://hub.docker.com/_/golang/ I was searching in here and I cant seem to find bigger than 1.9.7-alpine? You ment change 1.9 with 1.10 ?

[2018-07-22 22:20] alexellis commented on #77
Yes that is what I meant by latest (but don't use the beta)

Can you add this to your tasks for this week please?

Thanks.

Alex

[2018-07-29 12:22] rgee0 opened #84 "Proposal: Feature to check that a PR description includes closure keywords"
## Expected Behaviour
Addition of a new feature to check the contents of a PR description for a referenced issue number. See: https://help.github.com/articles/closing-issues-using-keywords/ for a full explanation.

## Current Behaviour
A PR is raised with an issue reference but without a closure keyword.  This results in manual activity to keep repo issues in sync with project state.

## Possible

[2018-08-01 15:32] rgee0 commented on #77
Derek close: addressed in #83

[2018-08-01 15:32] #77 closed

[2018-08-03 11:29] alexellis opened #85 "Prevent removal of "no-dco" label"
I noticed that a contributor had Derek installed on one of his repos. He had a PR arrive without sign-off and Derek added the no-dco label.

The developer removed the label then merged the PR.

I would suggest that we prevent Derek from responding to "Derek remove label: no-dco" for the above reason.

Those with write-access can still remove it via the UI controls.

[2018-08-03 11:29] alexellis commented on #85
@martindekov would you like to work on this next week?

[2018-08-03 16:19] martindekov commented on #85
Yeah

[2018-08-17 09:06] #85 closed

[2018-08-22 19:15] #76 closed

[2018-09-08 09:02] alexellis opened #87 "Add contributing field to .DEREK.yml"
## Expected Behaviour

We need to be able to specify a "contributing_url" field for when Derek is used across an organisation or many repos. The "redirect" flag now means many Derek files are just redirecting to another repo for rules - at least in OpenFaaS we don't need separate contributing guides.

## Current Behaviour

I create a Markdown page with a link to the openfaas/faas contributing guid

[2018-09-08 09:03] alexellis commented on #87
[code]

[2018-09-10 07:41] #87 closed

[2018-09-21 18:25] alexellis opened #89 "Derek to populate release notes from matching PRs/Issues with milestone"
So now that we have milestone support it would be good to have Derek help compile the description for releases by reacting to the event fired and then doing a quick search and populating the text i.e.

[code]

This would be an optional feature.

[2018-09-21 18:27] alexellis opened #90 "Derek set milestone: current/next"
Needs more thought - but I can't always remember what milestone number to pick when doing this on mobile for instance.

`Derek set milestone: 0.5.4`

vs:

`Derek set milestone: next`

Which could be: 0.5.5

`Derek add milestone` -> Might just add the latest one available.

There are other tools that can generate change logs but this seems like a simple feature to explore more.

[2018-09-21 18:29] alexellis opened #91 "Derek rebase"
If we implement Roles 2.0 #22  then we could add "Derek rebase" and set up permissions for who can run this command and what the validation is.

i.e.

- no conflicts with base branch
- is allowed to merge
- has N LGTM

[2018-09-28 18:16] rgee0 commented on #90
Derek set milestone: 0.6.1

[2018-09-28 18:20] rgee0 commented on #90
Derek add label: test

[2018-09-28 18:20] rgee0 commented on #90
Derek set milestone: 0.6.1

[2018-10-03 08:10] alexellis commented on #62
Derek add label: Hacktoberfest

[2018-10-03 08:10] alexellis commented on #62
This PR should make as few as possible refactorings and stylistic changes.

[2018-10-11 09:43] alexellis opened #94 "Config redirect with local repo-based overrides"
## Expected Behaviour

The config redirect which means a local repo can have just a single entry "redirect_url: https://" rather than a complete .DEREK.yml file has been really useful across the dozen or so OpenFaaS repos. There are times where a local override is needed for a specific repo.

I would see this working as an intersection with the local override taking precedence. This would also be

[2018-10-23 17:16] rgee0 commented on #94
I think this should be relatively simple to implement.

https://github.com/alexellis/derek/blob/784b91660b7bbdc7a3570c65e9e1ebdc4385cc2b/permissionsHandler.go#L104

We parse the remote `.DEREK.yml` here into a separate `types.DerekRepoConfig` and then add a method call immediately afterwards to merge the existing local config with that retrieved remotely, de-duping in the process.

[2018-10-23 17:18] rgee0 commented on #63
Derek close: implemented in #71

[2018-10-23 17:18] #63 closed

[2018-10-23 19:53] alexellis commented on #94
That approach sounds good to me.

[2018-10-27 08:27] alexellis opened #95 "Revisit: GitHub Checks / Commit statuses"
## Expected Behaviour

We looked into this before in a previous issue, but I think we could leverage GitHub Checks or commit statuses to give feedback on the DCO and other things Derek checks.

https://github.com/alexellis/derek/issues/35

## Current Behaviour

We post a label and a comment when one of the commits in a PR isn't signed off, but this still allows merging through the UI and some newe

[2018-10-27 08:37] alexellis opened #96 "Move to OpenFaaS golang-http-template"
## Expected Behaviour

I would like to move Derek to the OpenFaaS golang-http-template so that the process can stay alive for longer without re-forking. This would allow access tokens etc to be cached in memory to reduce API requests and will increase memory under load.

It is also a step towards #62 (break out SDK) so that Derek can be run on other platforms or by other processes other than the O

[2018-10-27 08:39] alexellis opened #97 "Remove Dockerfile in favour of OpenFaaS Golang template - Part 1"
The Dockerfile is now unnecessary - Derek was developed before the Golang templating system, so we should move the code to use the Golang template for less to maintain, more frequent watchdog updates and other fixes done in the Golang template.

[code]

Since the Golang template uses the classic watchdog and allows for forking per request, no other changes are required to prevent os.Exit/panic han

[2018-10-27 08:41] alexellis commented on #97
@rgee0 anything else that needs to be covered as part of this change?

[2018-10-27 09:38] cheikhshift commented on #96
Would it be possible to keep panics and catch them by deferring a call to function `recover`?
I searched through the code, there are os.Exit invocations in vendor packages and 4 within `Derek`

[2018-10-27 11:02] alexellis commented on #96
It would be possible, but I think we could change the code as part of this instead. Can you link to the instances (with line number) please?

[2018-10-27 11:12] cheikhshift commented on #96
These are the calls to os.Exit within `Derek`, there are more from vendor packages :

./derek-master/main.go:
	   32  	if validateHmac && len(xHubSignature) == 0 {
	   33  		os.Stderr.Write([]byte("must provide X_Hub_Signature"))
	   34: 		os.Exit(1) <-- instance
	   35  	}
	   36
	   ..
	   38  	if configErr != nil {
	   39  		os.Stderr.Write([]byte(configErr.Error()))
	   40: 		os.Exit(1)  <-- i

[2018-10-27 14:54] cheikhshift commented on #96
Sure, I updated my previous comment with links to the corresponding line.

[2018-10-27 14:58] cheikhshift commented on #97
Is there a `struct` for this future Go template?

[2018-10-27 15:31] vbmade2000 commented on #97
Ah Ok.

[2018-10-27 16:45] alexellis commented on #97
Use the OpenFaaS CLI with the command line given above to migrate it from a stateless microservice using a Dockerfile to a function with the standard template. https://blog.alexellis.io/serverless-golang-with-openfaas/

If this is too technical for a new contributor then an existing OpenFaaS user or Derek contributor should take this on.

[2018-10-27 17:09] cheikhshift commented on #97
I'll give it a shot, current contributors should also tackle this. I'll be looking at the Derek source code before making a suggestion.

Thanks for the clarification!

[2018-10-27 17:53] alexellis opened #98 "Add Travis (build status) badge to readme"
Add Travis (build status) badge to readme

Available via: https://travis-ci.org/alexellis/derek

[2018-10-27 17:59] qnoox commented on #98
Hello, Will fix this 👍

[2018-10-27 18:02] alexellis commented on #98
Thank you! Please do read the contribution guide first.

[2018-10-27 19:00] alexellis commented on #97
Some additional changes are going to be needed on this one. I'm going to suggest picking it up myself or having one of the maintainers do it since it will need more moving around than I expected.

[2018-10-27 19:09] cheikhshift commented on #97
Sounds good, although, I have a fork you can look at currently here :
https://github.com/thestrukture/derek

[2018-10-27 19:57] alexellis commented on #97
The approach in your fork is very similar to what I was doing locally. Can you raise a separate PR which only creates the handler package and nothing else? (Use `git mv` to preserve the history of the files) that seems like a good incremental start.

[2018-10-27 20:08] cheikhshift commented on #97
Sure.

Glad I can help.

[2018-10-28 17:28] dgisser commented on #98
@alexellis is this completed? It looks like appears as though the readme has the build status badge.

[2018-10-28 17:44] alexellis commented on #98
Looks like I was mistaken and it is there, maybe it didn't render on my browser. Let's add the godoc badge instead?

[2018-10-29 08:39] #98 closed

[2018-11-04 12:59] burtonr commented on #94
I could take this on as my first contribution to the Derek project :smile:

[2018-11-04 13:13] alexellis commented on #94
Sounds good to me, thanks for commenting so that other people know it's being tackled 👍 🤖

[2018-11-07 08:55] s8sg commented on #45
Really like the idea. An initial thought. An issue can either be addressed from a PR that closes it, otherwise just as a reference. If the PR uses any keyword that closes issue [close, fix, resolve etc], we may add a tag with `in-progress`, otherwise `addressed`.

Another alternative way to Lebel a PR with `issue-no` for any issues that are referred. In that way on the `PR section,` we can easily

[2018-11-07 08:57] alexellis commented on #33
Since Derek had some original inspiration from Docker's Poule tool by @icecrime I thought we could refer to Arnaud's concept on a keywords -> labels mapping:

https://github.com/moby/moby/blob/master/poule.yml#L23

What do we think?

[2018-11-07 09:32] rgee0 commented on #33
I think the approach makes sense, albeit configured via the yaml for versatility

[2018-11-10 16:35] alexellis opened #103 "Mark PRs as invalid which have no description"
## Expected Behaviour

Mark PRs as invalid which have no description (body) at all.

- Unit tests will be required.
- This needs to be an optional flag as a feature so that people can turn it off / opt-out.

Non-goal: analysing templates to see if they are filled in or not. That is handled via #40

## Current Behaviour

Maintainers have to step in to comment and ask for details of the change which

[2018-11-10 17:31] alexellis commented on #40
It seems like we have a kind of dead-lock or lack of interest for this feature. I still have to comment back to people who delete the whole text and submit a PR with no description at all. For that reason I've raised a simpler issue for v1.0 of the feature in #103

[2018-11-10 17:34] alexellis commented on #42
PR via #43

[2018-11-10 17:35] alexellis commented on #42
cc @nishakm from VMware who was looking into commit message linting.

[2018-11-22 12:31] #103 closed

[2018-12-29 17:51] martindekov commented on #95
I will start researching how checks API work and will post the general way I will implement this and will wait for approval. I hope this sounds ok

[2018-12-29 17:54] alexellis commented on #95
Sounds good  👍  - I'd advise looking into how we did this for OpenFaaS Cloud as a starting point.

[2018-12-29 17:55] martindekov commented on #95
Ah yeah... thanks for pointing that out ^

[2018-12-30 01:21] martindekov commented on #95
So looked into that, I see adding commit to already existing PR gives `synchronize` event. I think we should add this to the events which are handled and check the body for every event of that type.

It is different scenario, unlike Travis which builds your latest commit with all the changes before it, here we want to check every commit.

The `synchronize` event is triggered on every commit, no ma

[2019-01-11 22:18] alexellis commented on #89
Can we do this with the GitHub API or even enable ‘Derek release’ on an issue to have him trigger a release through the GH API?

[2019-01-17 10:02] alexellis opened #109 "Help topics for Derek"
## Expected Behaviour

There are often behaviors demonstrated by new contributors or specific questions to which we need to answer in almost the same, verbatim way:

* Join Slack here to chat more https://...
* Sign off your single commit using this command
* Sign off those 5 commits using this command
* Oh you're doing performance testing? You can't do that in a VM on your Mac, try this docs page

[2019-01-25 18:39] kolyshkin opened #110 "Proposal: support multiple commands in one comment"
After reading the docs I got the impression I can specify multiple commands, so I added the following comment (on https://github.com/moby/moby/pull/38634):
[code]
... and nothing happened, so I figured I should start with a capital D, and edited the comment accordingly:

[code]

## Expected Behaviour

I expected two labels to be added.

## Current Behaviour

It added a single label "rebuild/window

[2019-01-25 19:14] alexellis commented on #110
Hi @kolyshkin

I'm glad that you and the other maintainers are finding Derek useful on the Moby project. I'd like to catch up to hear how you are using it more especially with the command I noticed "(reserved for my Derek commands)" that a few people are using.

As of today Derek commands need to be entered one at a time in separate comments, but if multiple commands make this more usable for you

[2019-01-25 19:35] rgee0 commented on #110
Two use cases here:

1) Multiples of the same command
2) Multiple different commands

The two could be solved by a single solution but I think that would still leave room for improvement in the UX in the first use case. e.g. does a user find this productive:

[code]

20 words = 5 labels.
I suspect theyd prefer a smaller word to label ratio:

[code]

Looking at the commands there is only the labels

[2019-01-25 20:01] burtonr commented on #109
So the command name and resulting message would then be kept in the `.derek.yml` file. Sounds like a good way to keep this configurable!

I think I would prefer the command to be `derek help` as it's more of a "help this person" kind of command, rather than a topic. Plus `topic` could be confused with the Github version of that name descibed [here](https://github.com/topics)

Should there be any l

[2019-01-25 20:08] rgee0 commented on #109
My first thought was `Derek explain:` has a natural flow to the command.  `Derek explain: signoff`, `Derek explain: slack`, `Derek explain: rebase` and so on.

[2019-01-25 20:34] martindekov commented on #95
I saw discussion going around in Derek, and though since I wanted proposals on the check content maybe I can make attributes configurable (title description summary etc.) So maybe we would like our check to be `NO-DCO` but moby would like to name it `Unsigned-commit present` or something like that. WDYT ?

cc @rgee0 @burtonr

[2019-01-25 21:38] olljanat commented on #110
@alexellis to be accurate I and @kolyshkin have curator role ole Moby and we are able to use Derek to manage issues/PRs.

That is trick which noticed sometime ago. Adding new comment triggers notification for everyone who are following PR but editing existing comments does not do it.

GitHub btw allow you to see old versions of comments if you click "edited" on top of the command.

Agreed that it

[2019-01-25 22:01] kolyshkin commented on #110
What set me away from the right path is usage examples in README.md (I only found the USER_GUIDE now, and it mentions that multiple commands are not supported!), like this one:

To me, it was very clear from this example that
1. several commands can be used at once;
2. in order to add two labels, two commands are needed.

This is why I did what I did and ended up with a weird label that contains a

[2019-01-27 23:36] spiffxp commented on #22
Derek add label: question

I'm curious if I can do this without being in .DEREK.yaml

[2019-02-17 17:27] alexellis opened #113 "Alter Derek to acknowledge both `Derek command` and `/command` at the same time"
## Expected Behaviour

Derek should acknowledge both `Derek command` and `/command` at the same time

## Current Behaviour

These are mutually exclusive options, you can only have one or the other.

## Possible Solution

- Compare the command prefix with both `Derek` and `/`
- Remove the `use_slash_trigger` flag from docs and code

[2019-02-17 18:16] #113 closed

[2019-02-17 18:23] alexellis commented on #109
/add label: help wanted

[2019-02-17 21:04] alexellis commented on #110
Hi @kolyshkin does #115 satisfy your use-case?

[2019-02-17 23:37] kolyshkin commented on #110
@alexellis I'd say it's a big improvement, although there are still issues remaining:

1. Mishandling newlines in input (instead of ignoring everything after the first newline, the newline and the text on the second line is added to the label)

2. Misleading README.md examples (a few commands in a single example gives the idea that this is supported).

[2019-02-18 07:29] rgee0 commented on #110
I've broken the commands up in the README in the latest commit.

Sorting the newlines is in progress.

[2019-02-18 18:55] rgee0 commented on #110
Newlines are now handled - anything after the first line is ignored.

[2019-02-20 19:09] alexellis opened #116 "Use-case: support private repos"
## Expected Behaviour

I visited CompareTheMarket today who have a use-case for Derek for delegation of how people label issues without admin access to inner-source repos.

They want Derek to work on their private repos.

## Current Behaviour

Derek reads from a CDN for all repos, but with the private ones there is no CDN.

## Possible Solution

Find out if the event came from a private repo by us

[2019-02-20 21:58] alexellis commented on #116
This is where we need to make a change: https://github.com/alexellis/derek/blob/9aadd63d106b92907107d5c6172140024d30f53d/handler/permissionsHandler.go#L89

[2019-02-20 22:00] matipan commented on #116
I'll start by setting up Derek on a private repo and reproducing this issue :+1:

[2019-02-20 22:02] alexellis commented on #116
I also saw:

`No customer for ComparetheMarket` in the logs, which means there needs to be a PR to this file: https://github.com/alexellis/derek/blob/master/.CUSTOMERS

Derek did the right thing by using the ACL, but I think we still need this PR.

Alex

[2019-02-20 22:07] alexellis commented on #116
We need to start parsing the private repo status:

[code]

[2019-02-20 22:16] alexellis commented on #116
I raised #117 to give a logging message and add the Private repo flag. The PR @matipan is working on is still needed.

[2019-02-21 03:39] matipan commented on #116
**Update**
I was able to reproduce the issue using a new derek installation on my OpenFaaS GKE cluster. I started to make a few changes and noticed what you mentioned previously. We will need to make adjustments for fetching `.CUSTOMERS` as well.
I believe I have this working. If you want @alexellis I can give you access to the private repo I'm using to test this :+1:

[2019-02-21 03:41] matipan commented on #116
A bit of evidence to show that it is working:
![derek-private-repos](https://user-images.githubusercontent.com/8126891/53142069-5418d180-3571-11e9-9a2a-827aae8c0e26.png)

[2019-02-21 03:44] matipan commented on #116
Forgot to mention. I had to give Read-only access to the repository contents, we'll probably want to document that on the guides clarifying that the permission is only necessary for private files.

[2019-02-21 09:22] alexellis commented on #116
My current SaaS version of Derek already has read-only on contents, so we should update the docs if that's not clear. Fortunately existing users won't have to update permissions.

<img width="980" alt="screenshot 2019-02-21 at 09 21 13" src="https://user-images.githubusercontent.com/6358735/53157735-0f655880-35ba-11e9-88f8-3533cdd1d815.png">

Alex

[2019-02-21 09:24] alexellis commented on #116
I'm not sure that this is the case, the CUSTOMERS file is configured once per Derek instance and the ACL could be in a separate public repo. I haven't seen a requirement for a private Derek ACL yet, but if we get it then it should be tracked as a new issue.

[2019-02-21 09:29] alexellis opened #118 "Refuse DCO for users.noreply.github.com"
## Expected Behaviour

The DCO requires a valid email address and not an anonymous entity.

## Current Behaviour

Some users put `user@users.noreply.github.com` to obstinate their real email address rendering it useless for the purposes it is required.

## Possible Solution

Add the `no-dco` label and a comment about the use of an anonymous email.

## Steps to Reproduce (for bugs)

1. Sign off a c

[2019-02-21 12:10] martindekov commented on #118
We might send another message if `noreply.github.com` exists in the commit body like
`Thank you for the commit, but it seems like the email is anonymous...`

[2019-02-21 12:19] matipan commented on #116
You are right :+1:
I'm going through the contributing guide now to make sure I follow the correct steps to create a PR.

[2019-02-21 14:18] alexellis commented on #116
PR raised: #119

[2019-02-21 16:40] matipan commented on #118
How about:
[code]
?
I'll begin making the changes to add a different message for this case :smile:

[2019-02-21 16:48] alexellis commented on #118
I'd like to keep it brief and concise

[2019-02-21 18:59] matipan commented on #118
PR raised: #120

[2019-02-22 18:58] rgee0 commented on #116
Derek close: implemented in #119

[2019-02-22 18:58] #116 closed

[2019-02-24 20:32] alexellis opened #121 "Suggestion: consolidate "What can I do?" with user guide"
## Suggestion

Can we consolidate the README's "What can I do?" section with the user guide by using a link?

Alex

[2019-02-24 20:32] alexellis commented on #121
@rgee0 @matipan wdyt?

[2019-02-28 11:14] #118 closed

[2019-03-12 07:38] rgee0 commented on #121
Fixed in https://github.com/alexellis/derek/commit/bda232e3bc589a0fac756151dfc158aec60b5e87

[2019-03-12 07:38] #121 closed

[2019-04-07 07:53] alexellis opened #123 "Prepare Derek for use as an SDK/package"
## Expected Behaviour

We should prepare Derek for use as an SDK/package so that he can be run on any platform - a Go microservice, AWS Lambda, Heroku etc.

This is the first step that makes Derek a package that someone can vendor in Go and then make use of in their own stand-alone way. #13

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Y

[2019-04-18 18:08] #32 closed

[2019-04-18 18:08] #110 closed

[2019-06-03 11:51] alexellis commented on #96
@cheikhshift are you still working on this? 😄

[2019-06-03 11:52] alexellis commented on #123
Related work: #96

[2019-06-03 13:15] cheikhshift commented on #96
Of course, here is the OpenFaaS template I wrote a while back :
 (if ti looks good we can proceed with it.  :D )

provider:
  name: faas
  # gateway: http://127.0.0.1:80  # can be a remote server

functions:
  derek:
    handler: ./fn
    image: alexellis/derek:0.6.4-rc2
    lang: go
    environment:
      debug: true
      customers_url:
https://raw.githubusercontent.com/alexellis/derek/master/.C

[2019-06-03 14:48] cheikhshift commented on #96
Sure.

Cheikh.

[2019-06-03 17:13] cheikhshift commented on #96
I reviewed the PR, this is what I'm going to work on :
- isolate most of the main.go file (in package root) in a new sub package called handler.
- Modify the current OpenFaaS deployment file to use the Go template
We need to keep invocations to panic, as they can modify response code provided by OpenFaaS. Some dependencies make invocations to os.Exit, but as long as `derek` is not using any deprec

[2019-06-04 19:03] alexellis commented on #96
Thanks for your take on the changes. We have a REST-compatible template called golang-http and golang-middleware both are available via `faas-cli template store list` and would have the benefit of keeping Derek's process alive between requests.

[2019-06-23 15:52] #48 closed

[2019-06-23 15:52] alexellis commented on #48
This has been released and is in use

[2019-06-23 15:54] alexellis commented on #109
I would like to see someone start on this for the following two use-cases:

Join Slack snippet
Closing issue, but keep commenting snippet
Fill in the whole issue template snippet

Alex

[2019-06-23 15:54] alexellis commented on #109
/add label good first issue

[2019-06-23 16:00] alexellis commented on #109
Derek add label: good first issue

[2019-06-24 15:51] martindekov commented on #109
I am interested in doing this. Is anyone working at it ATM?

[2019-06-24 15:58] alexellis commented on #109
No, you can take it.

[2019-06-24 16:04] martindekov commented on #109
Derek assign: me

[2019-06-29 07:39] martindekov commented on #109
Hey, so I was thinking about whether this should be accessible to Issues and PRs or only to Issues? I assumed this is only for Issues as reading the Issue description, but then I saw sign-off and rebase topics which made me think if it should cover the Pull Request as well?

[2019-06-29 07:52] alexellis commented on #109
Hi Martin,

Thank you for your question.

I think this would apply equally to both.

Alex

[2019-06-29 21:39] martindekov commented on #109
Thanks for pointing this out Alex.

The syntax is funky I added documentation in the [PR](https://github.com/alexellis/derek/pull/125) to explain how the `|` thing works for multiple lines, not sure if it is very UX friendly, but still. I think this is a weak spot, thats why I extended the part which handles error, to actually report the error in case there is parsing error due to misaligned messa

[2019-07-07 10:15] alexellis commented on #109
@martindekov suggested "Derek message". I'm happy to use and think I prefer `Derek message` and `Derek msg` in place of my original suggestion of `topic`.

In the YAML file let's define messages in the following format:

[code]

There does not need to a be a new "feature" for this, but it should be documented under a heading of "messages" in the USER_GUIDE.md - this is available for use by default

[2019-07-21 13:35] #109 closed

[2019-07-21 13:41] alexellis opened #127 "Pull Derek's watchdog binary via multi-stage build"
## Expected Behaviour

We could pull Derek's watchdog binary via multi-stage build and remove the `curl` step.

## Current Behaviour

We get the watchdog the old way.

## Possible Solution

See the way it's done in the openfaas/templates and copy the approach.

[2019-07-21 13:44] alexellis opened #128 "Run Derek container as non-root user"
## Expected Behaviour

Run Derek as non-root user instead of `root`

## Current Behaviour

Derek runs as root

## Possible Solution

See how we do this for the Golang template in openfaas/templates and copy the approach.

[2019-07-21 13:45] alexellis commented on #128
Dockerfile for the edit: https://github.com/alexellis/derek/blob/master/Dockerfile

Non-root example from OpenFaaS: https://github.com/openfaas/templates/blob/master/template/go/Dockerfile#L27

[2019-07-21 14:01] martindekov commented on #127
Derek assign: me

[2019-07-21 14:02] martindekov commented on #128
Derek assign: me

[2019-07-21 14:07] alexellis opened #129 "Publishing Docker images is broken"
## Expected Behaviour

New Docker images to appear upon release tag

## Current Behaviour

<img width="1400" alt="Screenshot 2019-07-21 at 15 06 48" src="https://user-images.githubusercontent.com/6358735/61592294-39529380-abc9-11e9-9049-d62448d459bc.png">

## Possible Solution

Investigate and fix.

## Steps to Reproduce (for bugs)

1. Cut a release tag
2. See error above

[2019-07-21 14:16] alexellis commented on #129
Find the full logs here -> https://travis-ci.org/alexellis/derek/builds/561697455

[2019-07-21 14:17] alexellis commented on #129
`build.sh` -> https://github.com/alexellis/derek/blob/master/build.sh
`.travis.yml` -> https://github.com/alexellis/derek/blob/master/.travis.yml

I suspect that we are building to a different temporary tag, to the one which we are expecting when we re-tag and push that with the release name.

[2019-07-21 14:24] alexellis commented on #128
/add label: help wanted

[2019-07-21 14:26] alexellis commented on #128
/message: slack

[2019-07-21 16:36] #128 closed

[2019-07-22 02:34] matipan commented on #129
I think the problem might be that the `build.sh` is building the image using the name `alexellis/derek:latest-dev` but then in travis we are tagging/pushing using the following name: `$DOCKER_NS/derek:[latest-dev,$TRAVIS_TAG]. However the `$DOCKER_NS` is set to `openfaas` instead of `alexellis`, which was the original username used to build the image.

[2019-07-22 19:53] affix commented on #129
@matipan Yeah I've made `build.sh` use the `$DOCKER_NS` variable

[2019-07-22 20:57] #129 closed

[2019-07-22 21:10] #127 closed

[2019-07-31 20:25] martindekov commented on #95
I will finish this one up after the cli as I already have opened PR for it.

[2019-09-25 13:17] burtonr commented on #40
Getting started on this now. Hoping for it to be ready for the HacktoberFest.

[2019-11-01 12:13] alexellis commented on #89
Sample event from openfaas/org-tester

[code]

[2019-11-01 12:15] alexellis commented on #89
Subsequent release after merging 1x PR

[code]

![Screenshot 2019-11-01 at 12 15 13](https://user-images.githubusercontent.com/6358735/68024201-4fc8ba80-fca1-11e9-8b28-ae5df1dfa2da.png)

[2019-11-01 12:18] alexellis commented on #89
The release itself

[code]

[2019-11-01 15:35] #89 closed

[2020-01-02 12:04] alexellis commented on #97
@cheikhshift are you still working on this, can you raise a PR?

[2020-01-02 12:07] alexellis commented on #70
I put this together for OpenFaaS Cloud, someone could send me a PR to add an option for Derek? https://github.com/alexellis/github-app

[2020-01-02 12:07] alexellis commented on #40
Did anyone work on this?

[2020-01-02 12:09] alexellis commented on #40
Going back to the "Implementation ideas:", I'd suggest that we make a binary decision based upon the following criteria:

* A PR template is present in the repo
* 50% of the lines beginning with `#` in the template are still in the PR text submitted

[2020-01-02 12:10] alexellis commented on #40
A new contributor can start this with a unit test in isolation from Derek's main codebase and PR/webhook handling features, once fully working we can help with integrating it in.

[2020-01-02 12:54] tchaudhry91 commented on #40
I'm getting started on this now

[2020-01-02 13:39] burtonr commented on #40
Version "v1.0" was completed here: https://github.com/alexellis/derek/pull/104

This change/update would be for version "v2.0" where the template is used to validate the incoming PR body.

[2020-01-02 13:53] alexellis commented on #40
Aha, yes so I think we need version “1.5” and not quite a “2.0” as the original idea there might have been a bit too strict.

[2020-01-16 22:33] Waterdrips commented on #19
https://developer.github.com/v3/#rate-limiting
`The returned HTTP headers of any API request show your current rate limit status:`

The remaining limit is in the X-RateLimit-Remaining header.

We could fire off some event when this gets low

[2020-01-17 13:56] Waterdrips commented on #70
@alexellis I would like to take this one

[2020-01-17 14:34] alexellis commented on #70
I would assume you can copy my approach or vendor it from ofc-bootstrap?

[2020-01-17 14:35] Waterdrips commented on #70
yep - looks like a nice easy one to get me started on the Derek codebase

[2020-01-17 14:38] alexellis commented on #94
I did this in ofc-bootstrap, so should be easy to plugin in the approach from there. I think this is fair game for anyone to pick up now.

@Waterdrips, WDYT?

[2020-01-17 14:43] Waterdrips commented on #94
yeh that would be useful. I can pick that up, or we could see if any of our new contributors want to take it? (and i could focus on the ofc helm chart :sweat_smile: )

[2020-01-17 14:45] alexellis commented on #94
Merge plans example code:

https://github.com/openfaas-incubator/ofc-bootstrap/blob/6ea58839a0c615e457cae37dc99cd6cd70a3dbc2/pkg/types/merge.go#L12

[2020-01-17 14:45] alexellis commented on #94
Don't mind, as long as it can be done as in finished within the next week to keep the merge/rebase feature moving forward.

[2020-01-17 14:47] Waterdrips commented on #94
Ah if we need it done for that I'll take it and do it this weekend.

[2020-01-17 14:47] alexellis commented on #94
Merci :+1:

[2020-01-17 14:50] alexellis commented on #70
This is lower priority IMHO than the overrides and merge feature, esp. as we offer a hosted version of Derek now.

[2020-01-17 14:51] Waterdrips commented on #70
yep, iv put it low on my list

[2020-02-05 16:44] alexellis opened #141 "Have Derek add commits as well as PRs closed in each release note"
Have Derek add commits as well as PRs closed in each release note

## Expected Behaviour

Commits to be included as well as PRs

## Current Behaviour

Commits that are pushed not via a PR don't show up

Example with PRs: https://github.com/alexellis/derek/releases/tag/0.9.7
Example without: https://github.com/alexellis/derek/releases/tag/0.9.8 😢

## Possible Solution

Check the approach I used for

[2020-02-06 12:09] alexellis commented on #141
Example of what this looks like:

https://github.com/Logikk/kumbaya/releases/tag/0.1.6
https://github.com/Logikk/kumbaya/releases/tag/0.1.5

[2020-02-06 12:09] #141 closed

[2020-02-24 10:14] alexellis opened #143 "Add 1 min safety window for commit listing"
## Expected Behaviour

Derek shouldn't include commits from prior releases

## Current Behaviour

He does

## Possible Solution

Add 1 min safety window for commit listing

## Steps to Reproduce (for bugs)

Sometimes commits get leaked into the notes from the previous release

1. https://github.com/openfaas/faasd/releases/tag/0.7.8
2. https://github.com/openfaas/faasd/releases/tag/0.7.7

[2020-02-24 10:16] alexellis commented on #143
Here's the code:

https://github.com/alexellis/derek/blob/b30606c1d2761ba04cb076c98177ed0b1c6dd5a9/handler/release_handler.go#L64

We need to take the approach for PRs which adds a small window for error:

https://github.com/alexellis/derek/blob/b30606c1d2761ba04cb076c98177ed0b1c6dd5a9/handler/release_handler.go#L190

And apply that to the commit listing.

[2020-03-12 17:12] rberrelleza opened #150 "Derek marks PR with `no-dco` but the commit is signed"
I have a PR with two commits (https://github.com/okteto/okteto/pull/7570). The 1st commit is not signed, but the second is. Even if I manually remove the `no-dco` label, Derek will report back saying the PR is not signed.

## Expected Behaviour

When a signed commit is push, I'd expect Derek to remove the `no-dco` label. Or, if I remove it manuallly, I'd expect it not to be added again.

## Curren

[2020-03-12 17:24] rberrelleza commented on #150
From Richard Gee:

[2020-03-12 17:24] #150 closed

[2020-04-03 08:38] Waterdrips opened #151 "Proposal: Label and message for PRs with Merge Commits"
If there's a merge commit pushed to a PR can we add a label and post a message to the PR from Derek saying that Merge Commits are not allowed, and provide info on how to remove it, and rebase.

Can we detect easily merge commits? Is it the format of the commit message or are they different?

## Expected Behaviour

A PR with a merge commit pushed to it should get a label from derek and a message po

[2020-04-03 09:50] alexellis commented on #151
Thanks for the suggestion, this seems like it could be automated and save us some time explaining the same thing over and over. Are you wanting to work on this @Waterdrips?

[2020-04-03 10:00] Waterdrips commented on #151
I am interested in doing this, but I have quite a lot of WIP so I'd rather not pick it up and block someone else from doing this if they wanted.

When I have my WIP down to a more manageable level I'll come back and see if this is still unassigned and take it on.

[2020-04-07 13:41] vielmetti opened #152 "Add Derek to two new organizations (vielmetti, tinkerbell)"
PR to follow.

[2020-04-07 14:11] alexellis commented on #152
Thanks @vielmetti, I wasn't sure what was happening so I have added both in via https://github.com/alexellis/derek/commit/83eea02affc6b5f34c2676d9b93864f0c28e5702

Hope I haven't stepped on your toes and that the spelling is right.

[2020-04-07 14:11] #152 closed

[2020-04-07 14:13] vielmetti commented on #152
Thanks!

[2020-04-07 14:17] alexellis commented on #152
Please see our OpenFaaS example as a starting-point for a DEREK file https://github.com/openfaas/faas/blob/master/.DEREK.yml

Or Inlets - https://github.com/inlets/inlets/blob/master/.DEREK.yml

[2020-07-02 22:01] TheYkk opened #154 "Derek should handle more than 1 command in once."
## Expected Behaviour
Derek should handle more than 1 command in once.

## Current Behaviour
It doesn't
![image](https://user-images.githubusercontent.com/21688838/86412911-9eaf6f80-bcc8-11ea-864a-9cd473b8a121.png)

## Your Environment

- [x ] You're using the hosted Derek service

[2020-07-03 08:29] alexellis commented on #154
Whilst this might sound nice, we've so far decided against it. Fyi some of the commands like add label do support multiple arguments.

I'm going to close the issue, but we'll track interest from users here.

[2020-07-03 08:29] #154 closed

[2020-07-03 08:29] alexellis commented on #154
/set title: Feature request: give multiple commands within a single comment

[2020-07-03 08:41] alexellis commented on #95
I think we dropped the ball on this one, but I can't remember if it was because the solution was non-optimal or because we got distracted. Do you remember @martindekov?

[2020-07-04 12:40] martindekov commented on #95
I remember now I was doing cli change and left the change tested not fully e2e. Fixed that also re-based the commit it works as it should. All scenarios are covered in the example PRs opened here: https://github.com/martindekov/push2/pulls

Also re-based the change and fixed some corner cases which were left from the previous implementation.

[2020-07-23 08:08] alexellis opened #156 "[Bug] Regression in authentication code"
## Expected Behaviour

API tokens should be obtained per installation for reading beyond the 50 requests per hour limit, and for writing back to the repos where Derek is operational

## Current Behaviour

The API token is not being created correctly and Derek has been broken and not operating since deploying 0.9.15 with #155

## Possible Solution

Test the code change in #155 thoroughly (end to en

[2020-07-23 08:08] alexellis commented on #156
@Waterdrips please take a look?

cc @martindekov

[2020-07-23 10:48] Waterdrips commented on #156
`apps` --> `app` in the new url  (I put apps, should have been app)

PR opened that fixes this, tested in new derek installation.

[2020-07-23 10:54] alexellis commented on #156
Thank you for the quick turn-around on this Alistair 💪

[2020-07-23 13:13] #95 closed

[2020-07-23 15:46] Waterdrips commented on #156
/close
Forgot to link the close to the PR.

[2020-07-23 15:46] #156 closed

[2020-07-25 08:00] martindekov opened #158 "Inconsistent fetching of commits"
Inconsistent error:
[code]
This error is here:
https://github.com/alexellis/derek/blob/16d7143de95fbc1516be7377b7388995a78b19c0/handler/pullrequest_handler.go#L242

And the function is:
https://github.com/alexellis/derek/blob/16d7143de95fbc1516be7377b7388995a78b19c0/handler/pullrequest_handler.go#L235

## Expected Behaviour

Every request for the commits has the same behavior on error or success.

[2020-08-07 08:44] alexellis commented on #158
We didn't have this issue prior to merging the status change for the DCO and the change @Waterdrips made to use the new endpoint for installation tokens.

I would expect one of the above to be related to the regression, as Derek has never shown this error before - neither in local testing or deployed for users.

Can one of you raise a support issue with GitHub please?

https://support.github.com

[2020-08-07 08:45] alexellis commented on #158
You have 5000 (up from 50) per hour for properly authenticated requests, this appears to be a misconfiguration? Are there new limits on how the access tokens can be used?

[2020-08-07 14:24] martindekov commented on #158
I marked this ^ as not a problem, at least from my testing. We generate new token for every request which has those limits refreshed. I opened a ticket here: https://support.github.com/ticket/personal/0/796320

[2020-09-11 19:05] techknowlogick opened #160 "Switch to using go modules"
## Current Behaviour
Currently the project using `dep` to manage dependencies.

## Possible Solution
By switching to go modules it would bring dependency management to align with go ecosystem.

It seems that at least some OpenFaaS repos still use dep, although arkade uses go modules. Would you accept a PR that upgrades Derek to use go modules? If not that's ok and this can be closed. Per `CONTRIBU

[2020-09-11 19:09] alexellis commented on #160
Go for it. We are slowly migrating to go modules, but in some circumstances retaining the vendor folder. -mod=dep can be used here to keep the build fast.

Yes I know that some developers can't stand the thought of that 😉

Many of the openfaas community projects are using modules. Help with the task would be appreciated

[2020-09-11 19:09] alexellis commented on #160
And are you considering using Derek too?

[2020-09-11 19:29] techknowlogick commented on #160
Not for the Gitea project, but I have some personal projects that Derek could help with, and I figure I could also look into adding support for Gitea so that for self-hosted Gitea installs those users could use Derek too.

[2020-10-01 17:30] pascalberger opened #163 "Proposal: Detect Hacktoberfest PRs without requiring commit sign-off"
## Expected Behaviour

Possibility to check for Hacktoberfest spam PRs without requiring signed off commits

## Current Behaviour

[hacktoberfest](https://github.com/alexellis/derek/blob/master/USER_GUIDE.md#feature-hacktoberfest) feature requires commits to be signed-off.

## Possible Solution

Split check for commit sign-off into a separate feature.

## Steps to Reproduce (for bugs)

1.  Use a r

[2020-10-01 19:04] alexellis commented on #163
Can you suggest an alternative detection mechanism that would work for you?

I'm glad that the empty PR description is useful, what other kind of checks night be helpful to you?

[2020-10-01 19:16] pascalberger commented on #163
@alexellis Thanks for getting back so fast 👍

Currently we're mainly struggling with Hacktoberfest spam. So anything which would automatically close [these](https://github.com/cake-build/website/pulls?page=1&q=is%3Apr+is%3Aclosed+label%3Ainvalid) issues would be great.

I think the current mechanism for hacktoberfest without the signed-off check would work for us:

- First time contributor
- Only

[2020-10-01 20:24] alexellis commented on #163
What do you think of #164? We are testing it here:

https://github.com/openfaas/org-tester/pull/33

Existing committer: https://github.com/openfaas/org-tester/pull/34

[2020-10-01 20:44] pascalberger commented on #163
What we did in the meantime was enabling interaction limits (first for recently created accounts, then for people without prior contributions). #164 sounds feature wise similar, but with the advantage that people still can submit legitimate PRs. So would be an improvement to lock repo completely

[2020-10-01 20:45] alexellis commented on #163
It's merged and available for all users. Just add `no_newbies` to your Derek feature list.

Would you also mind pinging an email to alex@openfaas.com to connect?

Alex

[2020-10-02 13:02] alexellis commented on #163
Example of `no_newbies`:

https://github.com/openfaas/org-tester/pull/39

I was thinking of adding a min account creation date, but for your PRs - they are not actually from bots (I checked) they are from people with largely inactive but pre-existing accounts.

[2020-10-09 21:05] sesam commented on #36
I'm trying to understand the comment above about one channel in one Slack space that can track many installations (and users).
For what I know, to be able to post to slack, the slack client you need at minimum some keys or access tokens. Would you give out, and ask nicely, that everyone who deploys Derek to somewhere would insert the keys for your channel so you see their usage of Derek?

[2020-10-09 21:11] alexellis commented on #36
Hi Simon,

What's your interest in Derek?

Alex

[2020-10-09 21:28] sesam commented on #36
Depending on how it works, either a drive-by visit over a few days to see if this is still alive and kicking, or if it works out well, I might have an organisation that could make use of this. I'm liking the idea of minimising access rights. Where are you using Derek currently? I'm good at git, beginner at go. could revive this slack feature if you still want to have it implemented. Though if your

[2020-10-09 22:05] sesam opened #165 "Suggestion: make this project more visible"
As a user,
I want this project to be visible and easily comparable to other similar projects,
in order to find this project again next time, and to make it easier to get inflow of new ideas and users

## Context
I've been wanting something like homu for a while, which became bors-ng, but the whole solution seemed a bit too involved to be applicable to my current client. If, at that time, I would h

[2020-10-10 08:26] #165 closed

[2020-10-10 08:28] alexellis commented on #165
Hi @sesam thank you for your feedback. I'll close the issue since we use the tracker for bugs and features.

It's nice of you to want the project to be more visible. Feel free to make suggestions on how you see that happening. I'm listening.

Blog posts and tweets from users can be helpful.

Regarding your other request for deployments, that sounds like a separate request and feature.

Why don't y

[2020-10-10 08:33] alexellis commented on #165
From your recent activity on the repo and the various issues that you've raised, it seems like you may be evaluating Derek for use at work or for participation in a feature.

If that's the case then I think more synchronous conversation on Slack with the other users would be the most efficient way to achieve that.

[2020-10-10 08:34] alexellis commented on #165
slack.openfaas.io

[2020-10-10 16:28] alexellis commented on #36
Is Derek "alive and kicking", yes it's used on all the repos and orgs listed on the README and an essential part of the openfaas community.

[2020-10-10 16:28] #36 closed

[2020-10-10 16:28] alexellis commented on #36
Closing this issue due to a lack of demand

[2020-10-25 20:24] #160 closed

[2020-11-01 11:29] alexellis opened #167 "Crash generating release notes"
[code]

When I re-tried the web hook for the release, it worked the second time -> https://github.com/openfaas-incubator/ingress-operator/releases/tag/0.6.4

[2020-11-01 11:31] alexellis commented on #167
I wonder if this is a timing issue with the release not being detected?

[2021-01-22 07:44] angelbarrera92 opened #168 "Detect repository default branch"
## Expected Behaviour
I expect derek to look for its configuration file on the default branch of the repository instead of `master`.
GitHub changed its default branch from `master` to `main`, it is difficult to debug this issue if you don't run derek self-hosted.

## Current Behaviour
derek looks for the `.DEREK.yml` file in the root of the project in the `master` branch.

## Possible Solution
Ide

[2021-02-06 11:18] alexellis opened #170 "Migrate to GitHub Actions"
## Feature

Migrate to GitHub Actions

## Why is this required?

Travis no longer provides an unlimited free tier, and the openfaas community has now migrated away.

See openfaas/faas-cli or openfaas/faas for an example of how to publish a Go container. No binaries are required.

[2021-02-06 11:21] alexellis commented on #170
@utsavanand2 could you run with this please?

[2021-02-11 22:07] jolheiser commented on #168
@alexellis Hello! 👋

I would like to contribute to this issue. The  webhook payload actually should contain the repository's default branch, so that should be easy enough to work with.

Anything you want me to consider, or does that all sound alright with you?

[2021-02-12 14:04] alexellis commented on #168
Hi @jolheiser

What approach do you think would make sense?

If this can be done without using up API calls, I'd be interested in a draft PR for discussion.

Alex

[2021-03-16 10:58] cpanato commented on #170
@alexellis this one is open for grabs?

[2021-03-16 11:36] alexellis commented on #170
Hi @cpanato, since Derek is a function, I would suggest that you implement it as per: https://github.com/alexellis/faasd-example/blob/master/.github/workflows/build.yml

But, there is no need to push an image in the build flow, so separate them out:

CI - build / test
Publish - build / test / publish

Here's an example that does both in separate files: https://github.com/openfaas/faas/tree/master/

[2021-03-16 16:28] #170 closed

[2021-04-27 16:06] jolheiser commented on #168
This was resolved by #174

Thanks again @cpanato @alexellis !

[2021-09-08 17:29] alexellis opened #178 "Have Derek show a link for changes between releases"
Have Derek show a link for changes between releases

## Expected Behaviour

GitHub has a syntax to show a diff of changes between releases, something like adding `v1.0.0...v2.0.0` to the URL (I am sure someone can look this up)

## Current Behaviour

We don't provide it and there's no button in the standard UI for it.

## Possible Solution

Let's add this text, since we know the previous release a

[2021-09-09 08:44] alexellis commented on #178
/add label: help wanted, good first issue

[2021-09-09 09:42] cpanato commented on #178
/assign

[2021-09-10 09:03] alexellis commented on #178
Thanks for picking this up @cpanato

Testing on a public cloud VM will be helpful here, or using inlets so that you can receive webhooks and test this end to end.

Setting up the GitHub app is a bit time consuming the first time, but I've tried to make it as simple as possible in the notes.

[2021-10-05 19:56] rgee0 commented on #143
Derek Close: Fixed in #145

[2021-10-05 19:58] rgee0 commented on #143
Derek close: Fixed in #145

[2021-10-05 19:58] #143 closed

[2021-10-05 20:01] #45 closed

[2021-10-05 20:12] rgee0 commented on #168
Derek close: Fixed in #174

[2021-10-05 20:12] #168 closed

[2021-10-16 09:31] alexellis commented on #22
Nope @spiffxp that's kind of the point of having a list of curators. Btw, you may find this little update on Derek interesting - https://www.openfaas.com/blog/migrating-derek-from-docker-swarm/

[2021-10-19 09:00] alexellis opened #181 "Validate HMAC with SHA256"
## Expected Behaviour

Derek should validate HMAC signatures using SHA256

## Current Behaviour

Still uses the legacy value of lower length from GitHub

## Possible Solution

Implement: https://github.com/alexellis/hmac/issues/1 and then vendor the code back here.

## Context

This is technical debt.

[2021-11-04 09:58] #181 closed

[2022-01-21 11:04] jLopezbarb opened #184 "Generate notes should compare against official releases"
## Expected Behaviour
Derek should compare new releases against the latest official release rather than against the latest release which can be a pre-release.

## Current Behaviour
When Derek generates the release notes he compares the last two releases regardless of whether they are pre-releases or not. This makes hard to read the changes from two official releases if there has been some release

[2022-01-25 16:23] alexellis commented on #184
Hey @jLopezbarb

Happy for you to propose a pull request. Is there any reason you've not become a sponsor yet? We operate a hosted Derek version, which also goes towards our time spent on the project providing value to you directly :slightly_smiling_face:

Alex

[2022-01-25 16:24] alexellis commented on #184
/set title: Exclude pre-releases from release notes

[2022-04-18 17:01] rgee0 commented on #184
@jLopezbarb the community has pushed up a proposal (#186).  It'd be great to get some independent testing performed on it - maybe thats something you can help with?